<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Students report</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/styles.css" type='text/css'/>

    <style>
        @page {
            size: 210mm 297mm;
            margin: 25mm 20mm 20mm 20mm;
            /* change the margins as you want them to be. */
            @bottom-right {
                content: "Page " counter(page) " of " counter(pages);
            }
        }

    </style>
</head>
<body>
<div style="page-break-after: always" th:each="student : ${students}">
    <h1 th:text="${student.getCompleteName()}">Student name</h1>

    <div style="margin-bottom: 40px;">
        <div id="left-element">
            <img th:if="${student.gender.name() == 'MALE'}" src="../static/imgs/male-avatar.png" alt="Avatar"
                 width="100%"/>
            <img th:unless="${student.gender.name() == 'MALE'}" src="../static/imgs/female-avatar.png" alt="Avatar"
                 width="100%"/>
        </div>
        <div id="right-element" class="container">
            <div class="vertical-center">
                <table class="info">
                    <tr>
                        <td>Birthday:</td>
                        <td th:text="${student.birthDate}">2000-01-01</td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td th:text="${student.address?.toString()}">via Roma, 1, 20010, Milano, Italy</td>
                    </tr>
                    <tr th:if="${student.phoneNumber != null}">
                        <td>Phone Number:</td>
                        <td th:text="${student.phoneNumber}">012345</td>
                    </tr>
                    <tr th:if="${student.email != null}">
                        <td>Email:</td>
                        <td th:text="${student.email}">john.doe@mail.com</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div th:if="${student.isPassed()}" class="alert alert-success" role="alert">
            <span th:text="${student.getCompleteName()}">Student</span> has been passed to the next class!
        </div>
        <div th:unless="${student.isPassed()}" class="alert alert-danger" role="alert">
            <span th:text="${student.getCompleteName()}">Student</span> has <span
                th:text="${student.getFailedSubjects().size()}">1</span> failed subjects:
            <ul>
                <li th:each="subject : ${student.getFailedSubjects()}" th:text="${subject.subject}">MATH</li>
            </ul>
        </div>
    </div>

    <div th:each="subject : ${student.subjects}">

        <table class="table-marks">
            <thead>
            <tr>
                <th scope="col"><b th:text="${subject.subject}">MATH</b></th>
                <th scope="col">Date</th>
                <th scope="col">Exam type</th>
                <th scope="col">Mark</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="grade,idx : ${subject.marks}">
                <th scope="row" th:text="${idx.index + 1}">1</th>
                <td th:text="${grade.date}">2020-01-01</td>
                <td th:text="${grade.examType}">WRITTEN</td>
                <td th:text="${grade.mark}">10.0</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td><b>Average</b></td>
                <td><b th:text="${subject.average}">10.0</b></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

</body>
</html>